<head>
    <title>Microsoft Teams Starter Kit</title>
    <link rel="stylesheet" href="/css/default.css" />
    <script src="https://statics.teams.microsoft.com/sdk/v1.0/js/MicrosoftTeams.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
