<div class="hero wrapper">
    <h1>I am a bot.</h1>

    <p><a target="_blank" class="button primary" href="https://teams.microsoft.com/l/chat/0/0?users=28:{{bot_client_id}}">Find me in Teams</a></p>
</div>
