<h3>Configurable Tab</h3>
<h1>Map View</h1>

<p>embed a map view here</p>

<!-- example of using the embedded MicrosoftTeams js  -->
<script type="text/javascript">
  microsoftTeams.initialize();
</script>
