<script>
  var notes_url = '/teams/tabs/api/notes';
</script>

<h3>Channel Notes</h3>

<div ng-controller="notesController">
  
  <div ng-if="!notes || !notes.length">
    <p>You have not added any notes.</p>
    <p>To add a note, say @bot add note</p>
  </div>
  
  <div class="ng-class: {highlighted: note.id==highlighted_item}; note" ng-repeat="note in notes track by $index">
    <div  class="note_text"  ng-bind-html="note.html"></div>
    <footer>
      added {% note.time | date: 'short' %}
    </footer>
  </div>
</div>
<!-- example of using the embedded MicrosoftTeams js  -->
<script type="text/javascript">
</script>