html, body {
  font-family: 'helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.note {
  background: #FFF;
  margin: 1rem;
}

.note p {
  margin-top: 0;
}

.note_text {
  padding: 1rem;
}

.note_text p:last-child {
  margin-bottom: 0;
}

.note footer {
  font-size: smaller;
  padding: 1rem;
  border-top: 1px dashed #CCC;
}

.highlighted {
  background: #FFC;
}

p input {
  display: block;
}
